<component name="libraryTable">
  <library name="spring-android-rest-template-1.0.0.M4">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.android/spring-android-rest-template/1.0.0.M4/a88ba5252054023544e797c02762bbe3fa26ac77/spring-android-rest-template-1.0.0.M4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.android/spring-android-rest-template/1.0.0.M4/88e4747145bc3910309b99f15d42fd648996c8b2/spring-android-rest-template-1.0.0.M4-sources.jar!/" />
    </SOURCES>
  </library>
</component>